@keyframes animee {
    0% {background: url(../anime/gost.png) 0 0;}
    100% {background: url(../anime/gost.png) -1080px 0;}
}
@keyframes textt {
    0%, 100% {bottom: 80px;}
    50% {bottom: 120px;}
}
.anime {
    width: 90px;
    height: 90px;
    animation: animee 0.8s steps(12) infinite;
    position: absolute;
    bottom: 40px;
    left: -10px;
}
.text {
    width: 90px;
    height: 90px;
    animation: textt 0.97s  infinite;
    position: absolute;
    bottom: 40px;
    left: -10px;
    line-height: 140%;
}