@keyframes animee {
    0% {background: url(../anime/gost.png) 0 0;}
    100% {background: url(../anime/gost.png) -1080px 0;}
}
.anime {
    width: 90px;
    height: 90px;
    animation: animee 0.8s steps(12) infinite;
    position: absolute;
    bottom: 40px;
    left: -10px;
}