header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

header a {
    color: #A9A9AA;
    text-decoration: none;
    transition: 0.5s;
}

header a:hover {
    color: #FE390C;
    transform: scale(1.2)
}

body {
    background-image: url(img/bgcont.png);
    background-repeat: no-repeat;
    background-position: center 0px;
    min-width: 1440px;
    margin-top: 20px;
}

.logo {
    width: 1140px;
    height: 500px;
    padding: 140px;
    color: #FFF;
    text-align: center;
    background: url(img/bgabout.png);
    background-repeat: no-repeat;
    background-position: center 75px;
}

.logo h1 {
    font-family: Anton;
    font-size: 130px;
    font-style: normal;
    font-weight: 400;
    line-height: 154px;
    letter-spacing: 1.95px;
    text-transform: uppercase;
}

.box {
    width: 1140px;
    margin: 0px auto;
}

.navig {
    color: #A9A9AA;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.contact {
    color: #FE390C;
    border-radius: 4px;
    border: 1px solid #FE390C;
    display: inline-flex;
    padding: 12px 16px;
    align-items: flex-start;
    gap: 10px;
}

.end {
    background-color: #0C0C0E;
    height: 80px;
    margin-top: 60px;
}

.me {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.meme {
    margin-left: 80px;
}

.meme h1 {
    color: #111214;
    font-family: Anton;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-top: 60px;
}

.meme strong {
    color: #FE390C;
    font-family: Anton;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.meme h2 {
    color: #000;
    font-family: Anton;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.meme>p {
    color: #A9A9AA;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.28px;
}

.meme>div>div span {
    color: #FE390C;
    font-family: Anton;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.meme>div>div p {
    color: #111214;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.56px;
    width: 50px;
    padding-left: 10px;
}

.meme>div {
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.meme>div>div {
    display: flex;
    align-items: center;
}

.skill {
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
    background-color: #F7F7F7;
    padding: 70px 0px;
}

.skill h1 {
    color: #111214;
    font-family: Anton;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.skill span {
    color: #FE390C;
    font-family: Anton;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.skill p {
    color: #A9A9AA;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.28px;
    width: 480px;
}

.skill a {
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    display: inline-flex;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #FE390C;
    text-decoration: none;
    transition: 0.5s;
    margin-top: 10px;
}

.skill a:hover {
    transform: scale(1.2)
}

.exper {
    display: flex;
    justify-content: space-around;
}

.exper>div {
    width: 220px;
}

.exper>div>div {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.exper>div>div span {
    color: #FE390C;
    font-family: Anton;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-right: 10px;
}

.exper>div>div p {
    color: #111214;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.64px;
}

.exper>div>div strong {
    color: #FE390C;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.56px;
}

.exper>div p {
    color: #A9A9AA;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.28px;
}

.log h1 {
    color: #111214;
    font-family: Anton;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.log span {
    color: #FE390C;
    font-family: Anton;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.one {
    margin-top: 0px;
}

.two {
    margin-top: 50px;
}

.tre {
    margin-top: 100px;
}

.fou {
    margin-top: 150px;
}

.spon {
    display: flex;
    width: 1140px;
    height: 210px;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
    flex-wrap: wrap;
    background-color: #F7F7F7;
}

.spon a {
    margin: 35px 40px;
}

.work {
    width: 1140px;
    height: 335px;
    background: url(img/Mask.png);
    background-color: #111214;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0px;
}

.work h1 {
    color: #FFF;
    font-family: Anton;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: capitalize;
}

.work a {
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    display: inline-flex;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #FE390C;
    text-decoration: none;
    transition: 0.5s;
}

.work p {
    color: #A9A9AA;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.56px;
    display: flex;
    align-items: center;
}

.work a:hover {
    transform: scale(1.2)
}

@media all and (max-width: 440px) {
    .box {
        width: 400px;
        margin: 0 auto;
    }

    body {
        min-width: 440px;
        margin-top: 20px;
    }

    .logo {
        width: 440px;
        height: 500px;
        padding: 100px 0px 0px 0px;
    }

    .logo h1 {
        font-size: 70px;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navig {
        flex-direction: column;
        align-items: center;
    }

    .spon {
        width: 400px;
        height: auto;
    }

    .work {
        width: 400px;
        height: 335px;
    }

    .work h1 {
        font-size: 30px;
        text-align: center;
    }

    .exper {
        flex-direction: column;
        align-items: center;
    }

    .exper>div {
        width: 300px;
    }

    .two {
        margin-top: 50px;
    }

    .tre {
        margin-top: 50px;
    }

    .fou {
        margin-top: 50px;
    }

    .skill {
        margin-top: 0px;
        padding: 0px;
        flex-direction: column;
        align-items: center;
    }

    .skill p {
        width: 350px;
    }

    .skill img {
        width: 350px;
    }

    .me {
        margin-top: 0px;
        flex-direction: column;
    }

    .meme {
        margin-left: 0px;
        margin-bottom: 50px;
    }
}