body {
    background-image: url(img/bgcont.png);
    background-repeat: no-repeat;
    background-position: center 0px;
    min-width: 1440px;
    margin-top: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

header a {
    color: #A9A9AA;
    text-decoration: none;
    transition: 0.5s;
}

header a:hover {
    color: #FE390C;
    transform: scale(1.2)
}

.logo {
    width: 1140px;
    height: 500px;
    padding: 140px;
    color: #FFF;
    text-align: center;
    background: url(img/bgconttext.png);
    background-repeat: no-repeat;
    background-position: center 75px;
}

.logo h1 {
    font-family: Anton;
    font-size: 130px;
    font-style: normal;
    font-weight: 400;
    line-height: 154px;
    letter-spacing: 1.95px;
    text-transform: uppercase;
}

.navig {
    color: #A9A9AA;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.contact {
    color: #FE390C;
    border-radius: 4px;
    border: 1px solid #FE390C;
    display: inline-flex;
    padding: 12px 16px;
    align-items: flex-start;
    gap: 10px;
}

.box {
    width: 1140px;
    margin: 0px auto;
}

.cont {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.cont .contt h1 {
    color: #111214;
    font-family: Anton;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.cont .contt span {
    color: #FE390C;
    font-family: Anton;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.cont .contt>div>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mb-3 h1 {
    color: #111214;
    font-family: Anton;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: solid 1px grey;
    padding-bottom: 20px;
    padding-top: 15px;
}

.mb-3 h1 span {
    color: #FE390C;
}

.cont .contt p {
    color: #111214;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    margin-bottom: 10px;
}

.cont .contt p:nth-child(2) {
    color: #A9A9AA;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    margin-bottom: 30px;
}

.contt div>div img {
    margin: 0px 20px 25px 0px;
}

.cont .mb-3 p {
    color: #111214;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    margin: 40px 0px 0px 0px;

}

.cont .mb-3 a {
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    display: inline-flex;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #FE390C;
    text-decoration: none;
    transition: 0.5s;
    margin-top: 24px;
}

.cont .mb-3 a:hover {
    transform: scale(1.2)
}

.mes ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 40px 100px 0px 0px;
}

.mes ul li {
    background-color: #111214;
    padding: 10px 13px 13px 13px;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s;
}

.mes ul li:hover {
    transform: scale(1.2)
}

.map h1 {
    color: #111214;
    font-family: Anton;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 30px;
}

.map h1 span {
    color: #FE390C;
    font-family: Anton;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.end {
    background-color: #0C0C0E;
    height: 80px;
    margin-top: 60px;
}



@media all and (max-width: 440px) {
    .box {
        width: 400px;
        margin: 0 auto;
    }

    body {
        min-width: 440px;
        margin-top: 20px;
    }

    .logo {
        width: 440px;
        height: 500px;
        padding: 100px 0px 0px 0px;
    }

    .logo h1 {
        font-size: 70px;
    }

    .cont {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .contt {
        margin-bottom: 30px;
    }

    .map>div {
        width: 350px;
        height: 300px;
        margin: 0 auto;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navig {
        flex-direction: column;
        align-items: center;
    }
}