body {
    background-image: url(img/Background.jpg);
    background-repeat: no-repeat;
    background-position: center 0px;
    min-width: 1440px;
}

.box {
    width: 1140px;
    margin: 0px auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

header a {
    color: #A9A9AA;
    text-decoration: none;
    transition: 0.5s;
}

header a:hover {
    color: #FE390C;
    transform: scale(1.2)
}

body {
    margin-top: 30px;
}

.navig {
    color: #A9A9AA;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.contact {
    color: #FE390C;
    border-radius: 4px;
    border: 1px solid #FE390C;
    display: inline-flex;
    padding: 12px 16px;
    align-items: flex-start;
    gap: 10px;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 760px;
}

.hello {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.96px;
}

.hello h1 {
    font-family: Anton;
    font-size: 130px;
    font-style: normal;
    font-weight: 400;
    line-height: 154px;
    letter-spacing: 1.95px;
    text-transform: uppercase;
    margin: 0px;
}

.hello a {
    border-radius: 4px;
    background: #FE390C;
    display: inline-flex;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 30px;
    text-decoration: none;
    transition: 0.5s;
}

.hello a:hover {
    transform: scale(1.2)
}

.hello span {
    color: #FE390C;
}

.meseng ul {
    display: flex;
    height: 270px;
    justify-content: space-around;
    flex-direction: column;
}

.meseng ul li {
    background-color: rgba(255, 255, 255, 0.10);
    padding: 10px 13px 13px 13px;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s;
}

.meseng ul li:hover {
    transform: scale(1.2)
}

.about {
    height: 590px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutOne {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.aboutTexst {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.aboutFive {
    width: 450px;
}

.big {
    color: #FE390C;
    font-family: Anton;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.small {
    color: #111214;
    text-align: right;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.56px;
}

.aboutFive h1 {
    color: #111214;
    font-family: Anton;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.aboutFive p {
    color: #A9A9AA;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.28px;
    padding-bottom: 30px;
}

.aboutFive span {
    color: #FE390C;
    font-family: Anton;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.spon {
    display: flex;
    width: 1000px;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px auto;
    flex-wrap: wrap;
}

.spon a {
    margin: 35px 40px;
}

.work {
    width: 1140px;
    height: 335px;
    background: url(img/Mask.png);
    background-color: #111214;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.work h1 {
    color: #FFF;
    font-family: Anton;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: capitalize;
}

.work a {
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    display: inline-flex;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #FE390C;
    text-decoration: none;
    transition: 0.5s;
}

.work p {
    color: #A9A9AA;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.56px;
    display: flex;
    align-items: center;
}

.work a:hover {
    transform: scale(1.2)
}

.servis h1 {
    color: #111214;
    font-family: Anton;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-align: center;
    margin: 70px 0px 40px 0px;
}

.servis span {
    color: #FE390C;
    font-family: Anton;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.servis ul {
    font-family: Montserrat;
    display: flex;
    justify-content: space-between;
}

.servis li {
    width: 230px;
    height: 260;
    background-color: #F7F7F7;
    padding: 50px 20px;
    transition: 0.5s;
}

.servis h6 {
    margin: 40px 0px 30px 0px;
    color: #111214;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.64px;
}

.servis p {
    color: #A9A9AA;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.28px;
}

.servis li:hover {
    transform: scale(1.1);
}

.bgsl {
    background-color: #F7F7F7;
    margin: 50px 0px;
    padding-bottom: 100px;
}

.slaider h1 {
    color: #111214;
    font-family: Anton;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    padding-top: 50px;
}

.slaider h1 span {
    color: #FE390C;
    font-family: Anton;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.slaider h5 {
    color: #FFF;
    font-family: Anton;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.slaider p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.64px;
}

.testimonial {
    text-align: center;
}

.testimonial h1 {
    color: #111214;
    font-family: Anton;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.testimonial h1 span {
    color: #FE390C;
    font-family: Anton;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.testimonial h5 {
    color: #A9A9AA;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.56px;
    text-align: end;
    padding: 25px 100px 0px 0px;
}

.testimonial p {
    color: #111214;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.28px;
    padding: 40px 40px 0px 40px;
}

.testimonial p span {
    color: #FE390C;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.64px;
    padding: 60px 40px 0px 40px;
    text-align: initial;
}

.cont {
    background: url(img/bgend.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    padding: 50px 350px;
    margin-top: 50px;
}

.cont .contt h1 {
    color: #FFF;
    font-family: Anton;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.cont .contt span {
    color: #FE390C;
    font-family: Anton;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.cont .contt>div>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mb-3 h1 {
    color: #FFF;
    font-family: Anton;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: solid 1px grey;
    padding-bottom: 20px;
    padding-top: 15px;
}

.mb-3 h1 span {
    color: #FE390C;
}

.cont .contt p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    margin-bottom: 10px;
}

.cont .contt p:nth-child(2) {
    color: #A9A9AA;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    margin-bottom: 30px;
}

.contt div>div img {
    margin: 0px 20px 25px 0px;
}

.cont .mb-3 p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    margin: 40px 0px 0px 0px;

}

.cont .mb-3 a {
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    display: inline-flex;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #FE390C;
    text-decoration: none;
    transition: 0.5s;
    margin-top: 24px;
}

.cont .mb-3 a:hover {
    transform: scale(1.2)
}

.mes ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0px 100px 0px 0px;
}

.mes ul li {
    background-color: rgba(255, 255, 255, 0.10);
    padding: 10px 13px 13px 13px;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s;
}

.mes ul li:hover {
    transform: scale(1.2)
}


@media all and (max-width: 440px) {
    .box {
        width: 400px;
        margin: 0 auto;
    }

    body {
        min-width: 440px;
        margin-top: 20px;
    }

    .logo {
        width: 440px;
        height: 500px;
        padding: 100px 0px 0px 0px;
    }

    .logo h1 {
        font-size: 70px;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navig {
        flex-direction: column;
        align-items: center;
    }

    .spon {
        width: 400px;
        height: auto;
    }

    .work {
        width: 400px;
        height: 335px;
    }

    .work h1 {
        font-size: 30px;
        text-align: center;
    }

    .servis ul {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0px;
    }

    .servis li {
        width: 311px;
        height: 233px;
        background-color: #F7F7F7;
        padding: 20px 20px;
        margin: 10px 0px;
        transition: 0.5s;
    }

    .cont {
        background-repeat: repeat;
        flex-direction: column;
        padding: 0px 20px;
        margin-top: 0px;
    }

    .contt {
        margin-bottom: 30px;
    }

    .aboutFive {
        width: 350px
    }

    .about {
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
    }

    .aboutOne {
        width: auto;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .hello h1 {
        font-size: 60px;
        font-weight: 400;
        line-height: 70px;
        margin-bottom: 10px;
    }

}